body {
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    font-weight: 100;
    color: #7D7D7D;
    background-color: #EBEBEB;
}

div {
    margin: 1em;
}

h1 {
    color: #D64541;
}

img {
    width: 200px;
}

a {
    text-decoration: none;
    color: #CCC;
}